:root {
--reaction-color : hsl(0, 100%, 67%);
--reaction-background: hsl(0, 100%, 98%);
--memory-color : hsl(39, 100%, 56%);
--memory-background : hsl(39, 100%, 97%);
--verbal-color : hsl(166, 100%, 37%);
--verbal-background : hsl(166, 100%, 97%);
--visual-color : hsl(234, 85%, 45%);
--visual-background : hsl(234, 85%, 97%);

--primary-color: hsl(224, 30%, 27%);

color: var(--primary-color);
font-family: "Hanken Grotesk", sans-serif;

/*
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)


### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- 
*/
}

.attribution {
    font-size: 14px;
    text-align: center;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#circle {
    border-radius: 10em;
    background: linear-gradient(180deg, rgb(70, 32, 177), hsl(241, 81%, 55%));
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    margin: auto; 
    inset: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 700px;
    height: min(60%, 500px);
    border-radius: 2em;
    box-shadow: 5px 5px 18px 4px hsl(240, 54%, 95%);
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 300px;
        height: 750px;
    }
    #overall-results,
    #detailed-results {
    width: 100% !important;
}
}

@media (max-height: 500px) {
    .container {
        height: 95vh;
    }
}

#score {
    font-size: 3em;
    font-weight: 700;
}

#summary {
    margin-top: 2em;
    margin-bottom: 1em;

}

p {
    width: 75%;
    opacity: 70%;
}

h1 {
    font-size: 1.2rem;
    opacity: 70%;
}

#result {
    font-size: 1.5em;
    font-weight: 600;
}

ul {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    width: 90%;
    padding-left: 0;
    margin-top: 0;
    align-items: center;
}

li {
    display: flex;
    justify-content:  space-between;
    padding: 0.75em;
    margin-top: 0.5em;
    border-radius: 0.5rem;
    align-items: center;
}

li > div {
    font-weight: 600;
}

.icon {
    margin-right: 6px;
    align-self: center;
}

.denom {
    opacity: 60%;

}

#overall-results,
#detailed-results {
    width: 50%;
}

#overall-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 35% 100%);
    color: white;
    border-radius: 2em;
    gap: 1em;
}

#detailed-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    justify-content: center;
}


button {
    width: 90%;
    background-color: var(--primary-color);
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    margin-top: 1em;
    margin-bottom: 2em;
    font-weight: 500;
    border: 0;
    cursor: pointer;
}

button:hover, button:focus {
    background:  linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 35% 100%);
}

#reaction {
    background-color: var(--reaction-background);
}

#reaction > div:first-child {
    color: var(--reaction-color);
}

#memory {
    background-color: var(--memory-background);
}
#memory > div:first-child {
    color: var(--memory-color);
}

#verbal {
    background-color: var(--verbal-background);
}
#verbal > div:first-child {
    color: var(--verbal-color);
}

#visual {
    background-color: var(--visual-background);
}
#visual > div:first-child {
    color: var(--visual-color);
}

#h3 {
    margin-top: 10px;
    align-self: flex-start;
}

#score-explanation {
    text-align: center;
}